Repository avivharuzi/angular-starter-archive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{html,css,scss,js,ts,json,md}": "prettier --write",
  "*.{js,ts}": "eslint --fix"
}

chore: 🤖 add changeDetection OnPush by default
  angular.json
Due: prettier --write

chore: 🤖 add bootstrap packages
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 add material packages
  package-lock.json
  package.json
  src/app/material/material.module.ts
  src/scss/vendor/material/_material.scss
Due: prettier --write, eslint --fix

chore: 🤖 add tailwind packages
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: 🤖 add prettier plugins
  .prettierrc
  package-lock.json
  package.json
  server.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/features/home/home.module.ts
  src/app/features/not-found/not-found.module.ts
  src/index.html
  src/polyfills.ts
  src/test.ts
Due: prettier --write, eslint --fix

refactor: 💡 update stylesheet
  src/scss/base/_typography.scss
  src/scss/vendor/material-icons/_material-icons.scss
Due: prettier --write

chore: 🤖 update package-lock
  package-lock.json
Due: prettier --write

chore: 🤖 update husky
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-push
Due: none

chore: 🤖 update prettier config
  .prettierrc
  src/app/app-routing.module.ts
  src/main.ts
Due: prettier --write, eslint --fix
